/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
  * Remove default margin.
  */
body {
  margin: 0; }

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none; }

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent; }

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted; }

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold; }

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic; }

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000; }

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%; }

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0; }

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px; }

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto; }

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible; }

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none; }

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal; }

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */ }

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto; }

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold; }

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'lifehack';
  src: url(./../fonts/lifehack_medium-webfont.woff) format("woff"), url(./../fonts/lifehack_medium-webfont.woff2) format("woff2");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url(./../fonts/ubuntu-b-webfont.woff) format("woff"), url(./../fonts/ubuntu-b-webfont.woff2) format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url(./../fonts/ubuntu-light-webfont.woff) format("woff"), url(./../fonts/ubuntu-light-webfont.woff2) format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url(./../fonts/ubuntu-medium-webfont.woff) format("woff"), url(./../fonts/ubuntu-medium-webfont.woff2) format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url(./../fonts/ubuntu-regular-webfont.woff) format("woff"), url(./../fonts/ubuntu-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url(./../fonts/gagalin-regular-webfont.woff) format("woff"), url(./../fonts/gagalin-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

html, body {
  height: 100%; }

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  font-family: 'ubuntu', sans-serif, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 300; }

ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

li {
  list-style: none; }

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 95%;
  max-width: 58.75rem; }

.container--team {
  width: 75%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.container--footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .container--footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.body--active-menu {
  overflow: hidden; }

.page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  z-index: 3;
  overflow: hidden; }

.main-sect {
  position: relative;
  width: 100%;
  background: url(./../../images/main_bgrd.jpg) center center no-repeat;
  background-size: cover; }
  .main-sect::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(./../images/main_texture.png) center center/cover no-repeat;
    opacity: 0.8; }

.main-sect .btn {
  margin-right: 50px; }

.header {
  position: relative;
  padding-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center; }

.logo--hamb {
  position: absolute;
  top: 10px;
  left: 20px; }

.logo__img {
  max-width: 5.75rem;
  min-width: 5rem;
  min-height: 3.75rem;
  max-height: 4.3125rem; }

.menu {
  margin-left: auto; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  margin-right: 0.9375rem; }

.menu__item {
  margin-right: 0.9375rem; }
  .menu__item:last-child {
    margin-right: 0; }
  .menu__item::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0.25rem;
    height: 0.25rem;
    margin-left: 0.9375rem;
    background-color: #fff;
    border-radius: 50%; }
  .menu__item:last-child::after {
    display: none; }

.menu__link {
  text-decoration: none;
  color: white;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500; }

.hamb-menu__button {
  position: fixed;
  top: 2.0625rem;
  right: 1.875rem;
  height: 1.5625rem;
  width: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 15;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamb-menu__button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.hamb-menu__line {
  height: 0.25rem;
  width: 1.5rem;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 0.25rem; }
  .hamb-menu__line:last-child {
    margin-bottom: 0; }

.menu--hamb {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 130%;
  background: rgba(47, 50, 52, 0.99);
  z-index: 15;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.hamb-menu__close {
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  z-index: 20;
  background: url(./../images/close.png); }

.menu__list--hamb {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-right: 0; }

.menu__item--hamb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0;
  margin-bottom: 20px; }
  .menu__item--hamb::after {
    display: block;
    margin-left: 0;
    margin-top: 20px; }
  .menu__item--hamb:last-child::after {
    display: none; }

.btn {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  outline: none;
  background: #e45028;
  border-radius: 0.3125rem;
  color: #fff;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }
  .btn:hover {
    background: #c1401e; }

.btn__more:hover {
  background: #1f2122; }

@media screen and (max-width: 480px) {
  .btn__more {
    display: none; } }

.btn__read {
  display: none;
  background: #2f3234; }
  @media screen and (max-width: 480px) {
    .btn__read {
      display: block; } }

.btn-clear {
  background: transparent;
  margin-left: 0.625rem; }
  .btn-clear:hover {
    background: transparent; }

.container__main-page {
  position: relative;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0.93;
  -ms-flex: 0.93;
  flex: 0.93;
  padding-bottom: 2.5rem; }
  @media screen and (max-width: 768px) {
    .main-page {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.main-page__picture {
  width: 44%;
  margin-left: 3.125rem;
  background-image: url(./../images/main_burger_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 4.0625rem; }
  @media screen and (max-width: 768px) {
    .main-page__picture {
      margin-left: 0; } }

.main-page__img {
  width: 100%;
  height: 100%; }

.main-page__text {
  width: 44%;
  margin-left: 1.25rem;
  margin-top: 4.375rem; }
  @media screen and (max-width: 768px) {
    .main-page__text {
      width: 100%;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 1.875rem; } }

.main-page__desc {
  margin: 0;
  padding: 0;
  font-family: 'lifehack';
  color: #fff;
  font-size: 4.0625rem;
  letter-spacing: -0.02em;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .main-page__desc {
      text-align: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      line-height: 0.9; } }
  @media screen and (max-width: 480px) {
    .main-page__desc {
      font-size: 3.3125rem; } }

.title {
  padding: 0;
  margin: 0;
  font-family: 'gagalin';
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 3.125rem;
  color: #f9b43b; }
  .title--best {
    text-align: center;
    color: #2f3234; }
  .title--order {
    text-align: center; }
  .title--white {
    color: #fff; }
  @media screen and (max-width: 768px) {
    .title {
      text-align: center;
      font-size: 4.0625rem;
      margin-bottom: 2.5rem; } }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 3.125rem; } }

.pagination {
  position: fixed;
  z-index: 10;
  right: 3.125rem;
  top: 5.9375rem; }
  @media screen and (max-width: 768px) {
    .pagination {
      display: none; } }

.pagination__item {
  display: block;
  margin-bottom: 0.9375rem; }
  .pagination__item:last-child {
    margin-bottom: 0; }

.pagination__point {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
  height: 0.375rem;
  width: 0.375rem; }

.pagination__point--active {
  position: relative; }
  .pagination__point--active::before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #fff;
    background-color: transparent;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(-35%, -35%);
    -ms-transform: translate(-35%, -35%);
    transform: translate(-35%, -35%); }

.best {
  background: url(./../images/best_bg.jpg) center center/cover no-repeat; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 5%;
      margin-right: 5%; } }

.best__item {
  max-width: 31%;
  text-align: center;
  color: #696969;
  font-family: 'ubuntu';
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  line-height: 1.4em; }
  @media screen and (max-width: 480px) {
    .best__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 100%;
      margin-bottom: 1.25rem; } }

.best__icon {
  max-width: 5.9375rem;
  max-height: 5.5625rem;
  margin-bottom: 2.125rem;
  min-width: 5.3125rem; }

@media screen and (max-width: 480px) {
  .best__desc {
    margin-left: 1.25rem;
    text-align: left; } }

.best__name {
  color: #2f3234;
  margin-bottom: 1.875rem;
  font-family: 'lifehack';
  font-size: 24px; }
  @media screen and (max-width: 480px) {
    .best__name {
      margin-bottom: 1.25rem;
      text-align: left; } }

.burger-page {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(50%, #eb8d38), color-stop(85%, #f9b43b));
  background: -webkit-linear-gradient(top, #f9b43b, #eb8d38 50%, #f9b43b 85%);
  background: -o-linear-gradient(top, #f9b43b, #eb8d38 50%, #f9b43b 85%);
  background: linear-gradient(to bottom, #f9b43b, #eb8d38 50%, #f9b43b 85%);
  background-repeat: no-repeat; }

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slider__wrap {
  overflow: hidden; }

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.slider__item {
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.slider__scroll {
  position: absolute;
  top: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.slider__scroll-icon {
  width: 0.9375rem;
  height: 1.75rem;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.slider__scroll-icon--left {
  margin-left: -1.25rem; }
  @media screen and (max-width: 768px) {
    .slider__scroll-icon--left {
      margin-left: 0; } }

.slider__scroll-icon--right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-right: -1.25rem; }
  @media screen and (max-width: 768px) {
    .slider__scroll-icon--right {
      margin-right: 0; } }

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .slide {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.slide__photo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  .slide__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.slide__img {
  max-width: 31.5625rem;
  max-height: 20.5625rem; }
  @media screen and (max-width: 768px) {
    .slide__img {
      max-width: 21.875rem; } }

.slide__text {
  color: #fff;
  line-height: 1.4;
  font-weight: 300; }
  @media screen and (max-width: 768px) {
    .slide__text {
      text-align: center; } }

.slide__order {
  margin-top: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.slide__price {
  font-family: 'gagalin';
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #e35028; }

.slide__rub {
  font-family: 'gagalin';
  font-size: 1.875rem;
  text-transform: uppercase;
  color: #e35028;
  margin-left: 0.5rem;
  margin-right: 1.25rem; }

.ingridients {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f08c33;
  height: 5.625rem;
  width: 5.625rem;
  border-radius: 4px; }
  .ingridients:hover {
    background-color: #e35028; }
  .ingridients:hover .ingridients__down {
    display: block; }

.ingridients__icon {
  width: 2.8125rem;
  height: 2.8125rem;
  margin-left: 3px; }

.ingridients__name {
  color: #fff;
  text-transform: uppercase;
  font-family: 'gagalin', serif;
  text-align: center; }

.ingridients__down {
  position: absolute;
  top: 0;
  left: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  display: none; }

.ingridients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0.9375rem;
  font-family: 'ubuntu' serif;
  font-weight: 400; }

.ingridients__picture {
  height: 2.6875rem;
  width: 3rem;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1.25rem; }
  .ingridients__picture--beef {
    background-image: url(./../images/beef.png); }
  .ingridients__picture--bun {
    background-image: url(./../images/bun.png); }
  .ingridients__picture--salad {
    background-image: url(./../images/salad.png); }
  .ingridients__picture--sauce {
    background-image: url(./../images/sauce.png); }
  .ingridients__picture--cucumber {
    background-image: url(./../images/cucumber.png); }
  .ingridients__picture--cheese {
    background-image: url(./../images/cheese.png); }

.ingridients__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.ingridients_weight {
  text-align: right;
  min-width: 6.25rem; }

.kkal {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: 'gagalin', serif; }
  @media screen and (max-width: 768px) {
    .kkal {
      top: 0;
      right: 0;
      left: auto;
      bottom: auto; } }

.kkal__icon {
  width: 3.75rem;
  height: 3.75rem; }

.kkal__value {
  position: absolute;
  top: 45%;
  left: 30%; }

.kkal__def {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-family: 'gagalin', serif;
  position: absolute;
  left: 20%; }

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 2.5rem;
  border: 0.125rem solid #fff;
  border-radius: 0.1875rem;
  width: 1.3125rem;
  height: 1.3125rem;
  border-top: transparent;
  border-left: transparent;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 10; }

.team {
  background: url(./../images/team_bg.jpg) center center/cover no-repeat; }

.team__content {
  height: 100%;
  width: 49%;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(47, 50, 52, 0.93); }
  @media screen and (max-width: 768px) {
    .team__content {
      width: 100%; } }

.team__desc {
  color: #fff;
  line-height: 1.6; }
  @media screen and (max-width: 768px) {
    .team__desc {
      margin-right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

@media screen and (max-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%; } }

.team__item {
  margin-bottom: 1.5625rem; }
  .team__item:last-child {
    margin-bottom: 0; }

.team__item-name {
  position: relative;
  font-family: 'gagalin'; }
  .team__item-name::before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 0.75rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.5px 6px 4.5px;
    border-color: transparent transparent #f9b43b transparent;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.team__item-desc {
  height: 0;
  padding-top: 1.25rem;
  overflow: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.team__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .team__item-wrap {
      padding-top: 0; } }

.team__item-avatar {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .team__item-avatar {
      margin-bottom: 1.5625rem;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

.team__item--active .team__item-name {
  color: #f9b43b; }
  .team__item--active .team__item-name::before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

@media screen and (max-width: 768px) {
  .team__item--active .team__item-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%; } }

.team__item-occupation {
  font-weight: 700; }

.menu-page {
  position: relative;
  background: url(./../images/menu-page_bg.jpg) center center/cover no-repeat; }

.menu-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu-page__list {
  position: relative;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: center;
  height: 100%; }
  .menu-page__item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(47, 50, 52, 0.75); }

.menu-page__item--meat {
  position: relative;
  background: url(./../images/menu-page_bg.jpg) center center/cover no-repeat; }

.menu-page__item--diet {
  position: relative;
  background: url(./../images/diet_bg.jpg) center center/cover no-repeat; }

.menu-page__item--veg {
  position: relative;
  background: url(./../images/veg_bg.jpg) center center/cover no-repeat; }

.menu-page__ttl {
  font-family: 'gagalin';
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  line-height: 1;
  z-index: 5;
  margin-bottom: 2.1875rem;
  text-align: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.menu-page__text {
  background: rgba(47, 50, 52, 0.93);
  overflow: hidden;
  width: 0;
  line-height: 2em;
  z-index: 5; }

.menu-page__item--active .menu-page__text {
  width: 33.75rem; }
  @media screen and (max-width: 768px) {
    .menu-page__item--active .menu-page__text {
      width: 22.5rem; } }

.menu-page__item--active p {
  padding: 0.9375rem; }

.menu-page__item--active .menu-page__ttl {
  color: #f9b43b; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  position: relative;
  width: 25%;
  height: 50%;
  background: center center /cover no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-weight: 300;
  background: rgba(31, 31, 31, 0.6);
  line-height: 1.6;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  @media screen and (max-width: 768px) {
    .reviews__hover {
      line-height: 1.1;
      font-size: 0.8125rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .reviews__hover {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.reviews__user-name {
  text-transform: uppercase;
  font-family: 'gagalin';
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .reviews__user-name {
      margin-bottom: 0.5rem;
      text-align: center; } }

.reviews__text {
  font-family: 'ubuntu', sans-serif;
  font-size: 0.875rem; }
  @media screen and (max-width: 768px) {
    .reviews__text {
      font-size: 0.8125rem;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .reviews__text {
      height: 0;
      overflow: hidden; } }

.popup {
  position: fixed;
  top: 35%;
  width: 90%;
  left: 5%;
  right: auto;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  display: none;
  opacity: 0; }

.popup--active {
  display: block;
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.popup__title {
  color: #000;
  text-transform: uppercase;
  font-family: 'gagalin', serif;
  text-align: left;
  margin-left: 1.25rem;
  margin-top: 1.5625rem; }

.popup__close {
  position: absolute;
  top: 1.5625rem;
  right: 1.25rem;
  background: url(./../images/close_popup.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 0.9375rem;
  height: 0.9375rem; }

.popup__text {
  margin-top: 1.875rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.875rem; }

.work {
  background: url(./../images/video_bg.jpg) center center/cover no-repeat; }

.order {
  background: url(./../images/order_bg.jpg) center center/cover no-repeat; }

.form {
  color: #fff;
  font-family: 'ubuntu', sans-serif, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300; }
  @media screen and (max-width: 768px) {
    .form {
      padding: 0 15%; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0 2%; } }

.form__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__column {
  width: 100%;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__column {
      margin-right: 0; } }
  .form__column:last-child {
    margin-right: 0; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__block {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__block-title {
  margin-bottom: 0.5625rem; }

.form__input {
  padding: 0.5625rem 1.25rem;
  outline: none;
  background: #fff;
  border-radius: 0.25rem;
  border: #fff 0.125rem solid;
  margin-bottom: 1.25rem;
  width: 100%;
  color: #2f3234; }
  .form__input--textarea {
    resize: none;
    height: 6.875rem; }
  .form__input:focus {
    border: #f9b43b 0.125rem solid; }

.form__lbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.5625rem; }

@media screen and (max-width: 480px) {
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.form__radio-btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .form__radio-btn:checked + .form__radio-custom::before {
    opacity: 1; }

.form__radio-custom {
  position: relative;
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #fff;
  border-radius: 50%; }
  .form__radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 0.4375rem;
    width: 0.4375rem;
    background-color: #e45028;
    border-radius: 50%;
    opacity: 0; }

.form__radio-name {
  margin-left: 0.625rem;
  margin-right: 1.25rem;
  padding-bottom: 0.125rem; }

.form__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .form__checkbox:checked + .form__checkbox-custom::before {
    opacity: 1; }

.form__checkbox-custom {
  position: relative;
  height: 0.9375rem;
  width: 0.9375rem;
  background: #fff;
  margin-right: 0.625rem; }
  .form__checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5rem;
    height: 0.25rem;
    border: #c1401e 0.1875rem solid;
    border-top: transparent;
    border-right: transparent;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 0; }

.form__message {
  position: absolute;
  color: #c1401e;
  bottom: 0;
  left: 0; }

.form__popup {
  position: fixed;
  top: 50%;
  left: 37%;
  background-color: #fff;
  color: #c1401e;
  padding: 1.875rem; }

.footer {
  background: #121212; }

.contacts {
  color: #fff;
  padding-top: 0.625rem;
  padding-bottom: 0.75rem; }

.contacts__adress {
  margin-bottom: 10px; }
  @media screen and (max-width: 480px) {
    .contacts__adress {
      text-align: center; } }

@media screen and (max-width: 480px) {
  .contacts__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.contacts__call {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #c1401e; }

.contacts__icon {
  display: inline-block;
  height: 0.75rem;
  width: 0.6875rem;
  margin-right: 0.5rem;
  vertical-align: middle; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .social__list {
      padding-bottom: 0.375rem; } }

.social__item {
  margin-right: 1.25rem;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .social__item:last-child {
    margin-right: 0; }
  .social__item:hover {
    opacity: 1; }

.social__icon {
  width: 1.375rem;
  max-height: 1.375rem; }
