
$orange: #e45028;
$yellow: #f9b43b;
$gray: #2f3234;
$red: #c1401e;


@import "./layout/normalize.scss";


@import "./media.scss";

@import "./layout/fonts.scss";
@import "./layout/layout.scss";

@import "./blocks/page.scss";
@import "./blocks/main-sect.scss";
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/menu.scss";
@import "./blocks/hamb-menu.scss";
@import "./blocks/btn.scss";
@import "./blocks/main-page.scss";
@import "./blocks/title.scss";
@import "./blocks/pagination.scss";
@import "./blocks/best.scss";
@import "./blocks/burger.scss";
@import "./blocks/scroll-down.scss";
@import "./blocks/team.scss";
@import "./blocks/menu-page.scss";
@import "./blocks/reviews.scss";
@import "./blocks/work.scss";
@import "./blocks/order.scss";
@import "./blocks/form.scss";
@import "./blocks/footer.scss";
@import "./blocks/contacts.scss";
@import "./blocks/social.scss";

