.btn {
   align-self: center;
   padding-top: rem(10px); 
  padding-bottom: rem(10px);
  padding-right: rem(15px);
  padding-left: rem(15px);
  outline: none;
  background: $orange;
  border-radius: rem(5px);

  color: #fff;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  
  &:hover {background: $red;}
}

.btn__more {
  
 
  &:hover {
    background: #1f2122;
  }

  @include phones {display: none;}
}

.btn__read {display: none;
  background: #2f3234;
  @include phones {display: block;}
}
.btn-clear {background: transparent;
  margin-left: rem(10px); 
  &:hover {
    background: transparent;}
}