.burger-page {
  background: linear-gradient(to bottom, #f9b43b, #eb8d38 50%, #f9b43b 85%);
background-repeat: no-repeat;
}
.burger-page__cont {display: flex; justify-content: space-around;
  align-items: center;
}

.burger-page__img {max-width: rem(505px);
  max-height: rem(329px);
}
.burger-page__text {color: #fff;
  line-height: 1.4;
  font-weight: 300;
  margin-top: rem(45px);
}
.burger-page__order {margin-top: rem(35px);
  display: flex; align-items: baseline;
}
.burger-page__price {font-family: 'gagalin';
  font-size: rem(72px);
  text-transform: uppercase;
  color: #e35028;

}
.burger-page__rub {font-family: 'gagalin';
  font-size: rem(30px);
  text-transform: uppercase;
  color: #e35028;
  margin-left: rem(8px);
  margin-right: rem(20px);
}