.contacts {color: #fff;
  padding-top: rem(10px);
  padding-bottom: rem(12px);
}
.contacts__adress {margin-bottom: 10px;}

.contacts__call {display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: $red; 

}

.contacts__icon { display: inline-block; height: rem(12px);
  width: rem(11px); margin-right: rem(8px);

}