.form {color: #fff;
  font-family: 'ubuntu', sans-serif, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300; 
  @include tablets {padding: 0 15%;}
  @include phones {padding: 0 2%;}
}
.form__elem {display: flex;

  @include tablets {flex-direction: column; align-items: center;}
  

}
.form__column {width: 100%; margin-right: rem(20px);
  @include tablets {margin-right: 0;}
  &:last-child {margin-right: 0;}

}

.form__row {display: flex;
}


.form__block {position: relative;
  flex: 1; margin-right: rem(20px);
  &:last-child {margin-right: 0;}
}
.form__block-title {margin-bottom: rem(9px);}
.form__input {
  padding: rem(9px) rem(20px);
  outline: none;
  background: #fff;
  border-radius: rem(4px);
  border: #fff rem(2px) solid;
  margin-bottom: rem(20px);
  width: 100%;
  color: $gray;

  
&--textarea {resize: none;
  height: rem(110px);
  }

&:focus {
  border: $yellow rem(2px) solid;
  }
}

.form__lbl {
  display: flex;
align-items: center;
margin-bottom: rem(25px);

}
.form__buttons {
  @include phones {
    display: flex; flex-direction: column; align-items: center;
  }
}

.form__radio-btn {  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
&:checked + .form__radio-custom::before {opacity: 1;
}
}

.form__radio-custom {position: relative;
  display: inline-block;
  width: rem(15px);
  height: rem(15px);
  background-color: #fff;
  border-radius: 50%;
 
  
  &::before {content: "";
  display: block;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: rem(7px);width: rem(7px);
background-color: $orange;
border-radius: 50%;
opacity: 0;
}
}

.form__radio-name {margin-left: rem(10px); margin-right: rem(20px);
padding-bottom: rem(2px);
}

.form__checkbox {  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
&:checked + .form__checkbox-custom::before {opacity: 1;
}
}

.form__checkbox-custom {position: relative;
  height: rem(15px);width: rem(15px);
  background: #fff;
  margin-right: rem(10px);
  &::before {content: "";
  display: block;
position: absolute;
top: 50%;left: 50%;

width: rem(8px);
height: rem(4px);
border: $red rem(3px) solid;
border-top: transparent;
border-right: transparent;
transform: translate(-50%, -50%) rotate(-45deg);
opacity: 0;

}
}

.form__message {position: absolute;
color: $red;

bottom: 0;
left: 0;

}

.form__popup {
  position: fixed;
  top: 50%;
  left: 37%;
  background-color: #fff;
  color: $red;
padding: rem(30px);
}
