.hamburger-menu {position: relative;}

.hamburger-menu__icon {position: fixed;
top: 20px;
right: 30px; 
height: rem(22px);
  width: rem(24px);
  background: url(./../images/hamburger_menu.png) center center no-repeat;
z-index: 10;

}

.hamburger-menu__page {
  position: fixed;
  top: 0;left: 0;bottom: 0;right: 0;
  background: rgba(#2f3234, 0.99);
z-index: 100;
align-items: center;

}
.hamburger-menu__logo {position: absolute;
  top: rem(10px);
  left: rem(30px);

}

.hamburger-menu__close {position: absolute;
  background: url(./../images/close.png) center center no-repeat;
  height: rem(20px);
  width: rem(20px);
  top: rem(30px);
  right: rem(30px);


} 