
.hamb-menu__button {position: fixed;
  top: rem(33px); right: rem(30px);
  height: rem(25px);
width: rem(25px);
display: flex; 
flex-direction: column;
z-index: 7;
display: none;
@include tablets {
display: flex;
}
}


.hamb-menu__line {
  height: rem(4px);width: rem(24px);background-color: #fff;
  border-radius: 3px; margin-bottom: rem(4px);
&:last-child {margin-bottom: 0;}
}


.hamb-menu__close {
  position: absolute;
  top: rem(30px);right: rem(30px);
display: block;
height: rem(20px);
width: rem(20px);
background: url(./../images/close.png);
display: none;
}