.hamb-menu__icon {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 4px;
  width: 4px;
  background-color: #fff;
  border-radius: 3px; }
  .hamb-menu__icon ::before {
    content: "";
    display: block;
    top: 0;
    height: 4px;
    width: 4px;
    background-color: #fff;
    border-radius: 3px; }
  .hamb-menu__icon ::after {
    content: "";
    display: block;
    bottom: 0;
    height: 4px;
    width: 4px;
    background-color: #fff;
    border-radius: 3px; }
