.hamburger-menu {
  position: relative; }

.hamburger-menu__icon {
  position: fixed;
  top: 20px;
  right: 30px;
  height: rem(22px);
  width: rem(24px);
  background: url(./../images/hamburger_menu.png) center center no-repeat;
  z-index: 10; }

.hamburger-menu__hover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(47, 50, 52, 0.99);
  z-index: 100; }
