.kkal {position: absolute;
  left: 0;bottom: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: 'gagalin', serif;

  @include tablets {
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
  }
}

.kkal__icon {
  width: rem(60px);
  height: rem(60px);
}

.kkal__value {position: absolute;
  top: 45%;
  left: 30%;


}
.kkal__def {display: block;
  color: #fff;
  text-transform: uppercase;
  font-family: 'gagalin', serif;
  position: absolute; 
  left: 20%;
}