.logo {max-width: rem(92px); max-height: rem(69px);
  min-width: rem(80px); min-height: rem(60px);
}
.logo__img {height: 100%;
width: 100%;
}
.logo--hamb {position: absolute;
  top: 10px;
  left: 20px;
}

