
.main-sect {position: relative;
  width: 100%;
  background: url(./../../images/main_bgrd.jpg) center center no-repeat;
  background-size: cover;

  &::before {content: "";
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    background: url(./../images/main_texture.png) center center / cover no-repeat;
    opacity: 0.8;
  }
}
