.menu-page {position: relative;
  background: url(./../images/menu-page_bg.jpg) center center / cover no-repeat;
}

.menu-page__content {display: flex; height: 100%; 
  width: 100%; justify-content: flex-end;
}

.menu-page__list {position: relative;
  height: 100%;
  color: #fff;
display: flex;

 }

.menu-page__item {display: flex;
  justify-content: center;
  align-items: left;
  -webkit-box-pack: center;
  height: 100%;
&::after {
  content: "";
  position: absolute;
  top: 0;right: 0;
  bottom: 0;left: 0;
  background: rgba($gray, 0.75);}}

.menu-page__item--meat {position: relative;
  background: url(./../images/menu-page_bg.jpg) center center / cover no-repeat;
}

.menu-page__item--diet {position: relative;
  background: url(./../images/diet_bg.jpg) center center / cover no-repeat;
}
.menu-page__item--veg {position: relative;
  background: url(./../images/veg_bg.jpg) center center / cover no-repeat;

}

.menu-page__ttl {font-family: 'gagalin';
  text-decoration: none;
  color: #fff;
  font-size: rem(40px);
  text-transform: uppercase;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  line-height: 1;
  z-index: 5;
  margin-bottom: rem(35px);
  text-align: left;
  padding-left: rem(15px);
  padding-right: rem(15px);
}

.menu-page__text {
  background: rgba($gray, 0.93);
  overflow: hidden;
  width: 0;
  line-height: 2em;
  z-index: 5;
  
}

.menu-page__item--active .menu-page__text {
  width: rem(540px);
@include tablets {width: rem(360px)}
}
.menu-page__item--active p {padding: rem(15px); }

.menu-page__item--active .menu-page__ttl {color: $yellow;}