.menu__list {margin-left: auto;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-right: 15px;
}

.menu__item {margin-right: 15px;

&:last-child {margin-right: 0;}
&::after {content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin-left: 15px;
  background-color: #fff;
  border-radius: 50%;}

&:last-child::after {display: none}
}

.menu__link {text-decoration: none;
  color: white;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
}