.pagination {position: fixed;
  z-index: 10;
 right: rem(50px);
 top: rem(95px);
 }
 .pagination__item {display: block;
   margin-bottom: rem(15px);
  &:last-child {margin-bottom: 0;} 
 }

 .pagination__point {margin: 0;padding: 0;
  background-color: #fff;
  border-radius: 50%;
  height: rem(6px);
  width: rem(6px);
}

.pagination__point--active {
  position: relative;

&::before {content: "";
display: block;
position: absolute;
border: 1px solid #fff;
background-color: transparent;
height: rem(16px);
width: rem(16px);
border-radius: 50%;
top: 0;left: 0; right: 0;bottom: 0;
transform: translate(-35%, -35%);}
}