.scroll-down {position: absolute;
 left: 50%; bottom: rem(40px);
  border: rem(2px) solid #fff;
  border-radius: rem(3px);
width: rem(21px); height: rem(21px);
border-top: transparent;
border-left: transparent;
transform: translateX(-50%);
transform: rotate(45deg);
z-index: 10;
}
