.scroll-down {display: block;
margin: 0 auto;
margin-bottom: 40px;
  border: 2px solid #fff;
  border-radius: 3px;
width: 21px; height: 21px;
border-top: transparent;
border-left: transparent;
transform: translateX(-50%);
transform: rotate(45deg);
}
