.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: rem(20px);
  opacity: 0.3; }
  .social__item:last-child {
    margin-right: 0; }
  .social__item:hover {
    opacity: 1; }
