.title {padding: 0;margin: 0;
  font-family: 'gagalin';
  font-size: rem(72px);
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: rem(50px);
  color: $yellow;
&--best {text-align: center;
  
  color: #2f3234; 
 } 
&--order {text-align: center;
}
&--work {text-align: center; color: #000;
}
&--white {color: #fff;
}

@include tablets {
  text-align: center;
  font-size: rem(65px);
  margin-bottom: rem(40px);
  
    }

    @include phones {
      font-size: rem(50px);
    }
}






