.video {max-width: rem(640px);
  align-self: center;
@include phones {max-width: rem(350px);}
}
.video__screen{ width: fit-content;
  position: relative;
  overflow: hidden;
  margin-bottom: -4px;
}

.video__play-icon {position: absolute;
  width: rem(82px);
  height: rem(118px);
left: 50%; top: 50%;
transform: translate(-50%, -50%);
}
.video__toolbar {display: flex; justify-content: space-between;
  align-items: center;
  height: 35px;
width: 100%;
background-color: #3e3e3e;
}
.duration {display: flex; width: 80%;}
.duration__play {margin-left: 5px;
  width: 16px;height: 22px;}
  .duration__lenght {margin-left: 5px;
  width: 95%;}

  .sound {display: flex;align-items: center;}
  
  .duration__lenght {align-self: center;
    height: 4px;
    color: #626262;
  }
  .duration__lenght--volume {margin-left: 5px;
    margin-right: 5px;
    width: rem(90px);
  }
  .video__play-icon {visibility: visible;}
  .video__play-icon--active {visibility: hidden;}